@page
@model QLCT5.Pages.TrangPhongBan.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết phòng ban</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhongBan.TenPhongBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhongBan.TenPhongBan)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PhongBan.IdPhongBan">Sửa</a> |
    <a asp-page="./Index">Quay lại danh sách</a>
</div>
