@page "/admin/add-role"
@model QLCT5.Areas.Admin.Pages.Role.CreateModel
@{
    ViewData["Title"] = "Tạo mới các Role";
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="@Model.StatusMessage " />

<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a asp-page="./Index1" class="btn btn-primary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
