@page "/admin/delete-role/{roleid}"
@model QLCT5.Areas.Admin.Pages.Role.DeleteModel

@{
    ViewData["Title"] = "Xóa Role";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn xóa Role @Model.role.Name này?</h3>
<form method="post">
    <input type="submit" value="Đồng ý" class="btn btn-danger" /> |
    <a asp-page="./Index1" class="btn btn-sm btn-primary">Quay lại danh sách</a>
</form>