@page "/admin/edit-role/{roleid}"
@model QLCT5.Areas.Admin.Pages.Role.EditModel
@{
    ViewData["Title"] = "Chỉnh sửa role";
}

<h1>Thay đổi tên Role: @Model.role.Name</h1>

<partial name="_StatusMessage" model="@Model.StatusMessage " />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>