@page
@model QLCT5.Pages.TrangKho.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa kho</h1>

<h3>Bạn có chắc chắn xóa kho này?</h3>
<div>
    <h4>Kho</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kho.TenKho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kho.TenKho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kho.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kho.DiaChi)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Kho.IdKho" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại danh sách</a>
    </form>
</div>
